version: "3.8"

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    image: huzefaabid/hustlebust-app:latest
    container_name: nodeapp
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/hustleBust
    depends_on:
      - mongodb
    # If you ever need to rebuild locally from your Dockerfile:
    # build: .

volumes:
  mongo-data:
