body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: black;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: #ebebeb;
  padding: 1rem 0;
  min-height: 8rem;
  box-sizing: border-box;
}

.f-socials,
.f-nav,
.f-info {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-socials i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.f-nav {
  gap: 0.75rem;
}

.f-nav a {
  text-decoration: none;
  color: #222222;
}

.f-nav a:hover {
  text-decoration: underline;
}

/*Cards*/
.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
  margin: 0 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Listing Style */
.add-btn {
  border: none !important;
  background-color: #fe424d !important;
}

.add-btn:hover {
  background-color: #f32836 !important;
}

/* edit-btn Styling */
.edit-btn {
  border: none !important;
  background-color: #fe424d !important;
}

.edit-btn:hover {
  background-color: #f32836 !important;
}

/* Show Image style */
.show-img {
  height: 30vh;
}
